@font-face {
  font-family: 'Comic Book';
  src: url('./assets/fonts/ComicBook.eot');
  src: url('./assets/fonts/ComicBook.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/ComicBook.woff2') format('woff2'),
       url('./assets/fonts/ComicBook.woff') format('woff'),
       url('./assets/fonts/ComicBook.svg#Comic Book') format('svg');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.app {
  background: #000;
  /* padding: 20px; */
}

.top_frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.left_frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}
.right_frame {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}

.bottom_frame {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

nav {
  height: 125px;
  box-sizing: border-box;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 20px;
  background: #749aad;
}

.home_header {
  height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: url('./assets/title_bg.jpg') no-repeat;
  background-size: cover;
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
}

.home_header .title {
  max-width: 90%;
}

.slider{
  height: calc(100vh - 235px);
  width: 100%;
  background: url('./assets/slider_bg.jpg') no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.carousel {
  max-width: 1200px;
  margin: auto;
}

.carousel-indicators {
  bottom: 40px !important;
}

.carousel-item {
  height: calc(100vh - 235px);
}

.carousel-item img {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;
}


.carousel-item.carousel-item-start img {
  transform: scale(0.8);
  opacity: 0;
}
.carousel-item.carousel-item-end img {
  transform: scale(0.8);
  opacity: 0;
}

/* .carousel-item.active img {
  transform: scale(1);
  opacity: 1;
} */

.carousel_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  column-gap: 20px;
}

.carousel-caption {
  position: relative !important;
  width: 350px;
  right: 0 !important;
  left: 0 !important;
  text-align: left !important;
}

.carousel-caption h3 {
  font-family: 'Comic Book';
  font-size: 1.5rem;
  text-shadow: 2px 2px #02283f;
}

.link {
  background: #004f74;
  display: block;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif, 'Fira Sans';
  transition: all 0.2s ease;
  text-shadow: 1px 1px 4px #000;
}

.link:hover {
  background: #0b547e;
  color: #fff;
}

.video {
  /* --video--width: 1920;
  --video--height: 1070; */
  /* width: 100%;
  height: 100vh; */
  /* padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); */
  position: relative;
  overflow: hidden;
  height: calc(100vh - 20px);
  max-width: 100%;
  max-height: 100vh;
  background: #000;
  z-index: 1;
  margin: 10px;
  border-radius: 40px;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.inner_header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: none;
}

.inner_header .logo {
  display: inline;
  padding: 20px;
  border-radius: 15px;
  background: #001b29b3;
}

.preview {
  position: absolute;
  height: 100%;
  object-fit: fill;
  z-index: 2;
  cursor: pointer;
}

.preview_icon {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
  cursor: pointer;
  transition: all 0.2s ease;
}

.preview_icon:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.quiz {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  top: 30px;
  background: #E9E9E9;
  height: calc(100vh - 40px);
  width: 100%;
  padding: 80px;
  padding-top: 100px;
  border-radius: 40px;
}

.quiz h2 {
  position: relative;
  background: #004F74;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

.quiz form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz .field_group label {
  background: #749AAE;
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.quiz .field_group label:hover {
  background: #658da2;
}

.quiz .field_group input {
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.5);
}

.quiz .field_group span {
  cursor: pointer;
  font-weight: bold;
}

.quiz .link {
  border: none;
  margin: auto;
}

.correct {
  background: rgb(39,79,91);
  background: linear-gradient(180deg, rgba(39,79,91,1) 0%, rgba(204,224,244,1) 100%);
  border-radius: 40px;
  height: calc(100vh - 20px);
  margin: 10px;
}

.correct .right{
  max-width: 400px;
}

.correct h2 {
  font-family: 'Comic Book';
  font-size: 42px;
}

.correct p {
  font-weight: bold;
}

.correct .correct_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  height: 100%;
}

.incorrect img {
  max-width: 300px;
}

@media all and (max-width: 600px){
  .logo {
    text-align: center;
  }

  .app {
    position: relative;
  }

  .inner_header {
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 0;
    height: 50px;
  }

  .video {
    border-radius: 20px;
  }

  .preview, .video iframe {
    border-radius: 20px;
    overflow: hidden;
  }

  .preview_icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .preview_icon img {
    cursor: pointer;
  }

  .inner_header .logo {
    padding: 10px;
  }

  .inner_header .logo img {
    width: 80px;
  }

  .left_frame,
  .right_frame {
    height: 100%;
    max-width: 10px;
  }

  .carousel-indicators {
    bottom: 0 !important;
  }

  .home_header img {
    max-width: 200px;
  }

  .slider {
    height: auto;
  }

  .carousel-item {
    height: auto;
  }

  .carousel_wrapper {
    flex-direction: column;
    padding: 40px;
    justify-content: flex-start;
  }

  .carousel_wrapper img {
    max-width: 150px;
  }

  .carousel-caption {
    padding: 40px;
    margin-top: 20px;
  }

  .carousel-caption h3 {
    font-size: 16px;
  }

  .video {
    overflow: visible;
  }

  .quiz {
    padding: 10px;
    height: auto;
    border-radius: 20px;
  }

  .quiz .field_group label {
    margin-bottom: 10px;
  }

  .quiz .field_group span {
    font-size: 14px;
  }

  .correct {
    border-radius: 20px;
  }

  .correct .correct_wrapper {
    flex-direction: column;
  }

  .correct .correct_wrapper img {
    width: 150px;
  }

  .correct .correct_wrapper .right {
    text-align: center;
    margin-top: 20px;
  }

  .correct .correct_wrapper .right h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .correct .correct_wrapper .right p {
    padding: 0 20px;
  }
}